html {
  
}

h1, h2, h3, h4, h5, h6, body {
  margin: 0;
  padding: 0;
}

#container-meio {
  min-height: 600px;
}

.container-centralizado {
  margin: 0 auto;
  width: 800px;
}

.container-header-footer {
  height: 160px;
  background: #191f1f;
}